*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes spin {
    30% {
        scale: 0.6;
    }
    100% {
        rotate: 360deg;
    }
}
.animation_spin {
    animation: spin 15000ms linear infinite;
}
HTML {
    /*¿GENERAL COLORS START */
    --lightGray: rgb(180, 180, 180);
    --lightGrayShadow: rgba(180, 180, 180, 7);
    --midGray: rgb(166, 166, 166);
    --darkGray: rgb(77, 77, 77);
    --black: rgb(10, 10, 10);
    --white: rgb(240, 240, 240);
    --blackOff: rgb(38, 38, 38);
    --whiteOff: rgb(217, 217, 217);
    --midLight: rgb(128, 128, 128);
    --whiteOffT: rgb(217, 217, 217, 0.6);
    /*¿FONTS START  */
    /*¿ FONT SIZES--START */
    --fontSizeXL: 4rem;
    --fontSizeL: 2.4rem;
    --fontSizeG: 1.8rem;
    --fontSizeN: 1.2rem;
    --fontSizeS: 1rem;
    --fontSizeXS: 0.8rem;
    /*¿ FONT WEIGHT--START */
    /*¿TRANSITIONS--START */
    --transitionUF: all 250ms ease;
    --transitionF: all 500ms ease;
    --transitionM: all 750ms ease;
    --transitionS: all 1000ms ease;
    /*¿PADDING */
    --paddingXS: 0.25rem;
    --paddingS: 0.5rem;
    --paddingM: 1rem;
    --paddingL: 1.5rem;
    --paddingX: 2rem;
    --paddingXX: 2.5rem;
    /*¿ Z INDEX */
    --zIndexNav: 15;
    --zIndexImg: 10;
    --zIndexModal: 20;
    --zIndexDB: 30;
    --zIndexLangMenuModal: 25;
    --zIndexOptionList: 5;
    /*¿GENERAL START */
    --imgContainerHeight: 40rem;
    --navHeight: 6rem;
    --itemSize: 8rem;
    width: 100%;
    height: 100vh;
    --fontSize: 10px;
    font-size: var(--fontSize);
    font-family: "Lato", sans-serif;
    line-break: loose;
    letter-spacing: 0.15rem;
    line-height: 1;
    scroll-behavior: smooth;
}
/*!THEMES START */
.light_theme {
    /*¿COLORS */
    --textColor: rgb(25, 25, 25);
    --textContrastColor: rgb(225, 225, 225);
    --firstColor: rgb(9, 139, 172);
    /*¿ BACKGROUNDS */
    --bgColor: rgb(225, 225, 225);
    --bgColorT: rgb(225, 225, 225, 0.5);
    --bgContrast: rgb(25, 25, 25);
    --bgContrastT: rgb(25, 25, 25, 0.7);
    --bgAccent: rgb(240, 240, 240);
    /*¿GENERALS */
}
.dark_theme {
    /*¿COLORS */
    --textColor: rgb(225, 225, 225);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(237, 28, 36);
    /*¿BACKGROUNDS */
    --bgColor: rgb(25, 25, 25);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(15, 15, 15);
    /*¿GENERALS */
}
.water_theme {
    /*¿COLORS */
    --textColor: rgb(208, 226, 252);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(137, 247, 254);
    /*¿BACKGROUNDS */
    --bgColor: linear-gradient(325deg, #35eb93 0%, #2cacd1 37%, #2b76b9 65%, #3d3393 100%); /* linear-gradient(rgb(137, 247, 254) 0%, rgb(102, 166, 255) 100%) */
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgba(15, 100, 210, 0.5);
    /*¿GENERALS */
}
.fire_theme {
    /*¿COLORS */
    --textColor: rgb(10, 10, 10);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: #ca1518;
    /*¿BACKGROUNDS */
    --bgColor: linear-gradient(#f9d423 0%, #ff4e50 100%);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(202, 21, 24, 0.5);
    /*¿GENERALS */
}
.grass_theme {
    /*¿COLORS */
    --textColor: rgb(225, 225, 225);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(100, 250, 115);
    /*¿BACKGROUNDS */
    --bgColor: linear-gradient(#3cba92 0%, #047745 100%);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(10, 78, 1, 0.3);
    /*¿GENERALS */
}
.normal_theme {
    /*¿COLORS */
    --textColor: rgb(40, 40, 40);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(126, 94, 6);
    /*¿BACKGROUNDS */
    --bgColor: rgb(250, 250, 194);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(221, 221, 163);
    /*¿GENERALS */
}
.ghost_theme {
    /*¿COLORS */
    --textColor: rgb(225, 225, 225);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(170, 40, 250);
    /*¿BACKGROUNDS */
    --bgColor: linear-gradient(rgb(118, 75, 162) 0%, rgb(30, 5, 80) 100%);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(19, 3, 49);
    /*¿GENERALS */
}
.psychic_theme {
    /*¿COLORS */
    --textColor: rgb(225, 225, 225);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(105, 237, 28);
    /*¿BACKGROUNDS */
    --bgColor: rgb(33, 2, 65);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(56, 0, 88);
    /*¿GENERALS */
}
.legendary_theme {
    /*¿COLORS */
    --textColor: rgb(25, 25, 25);
    --textContrastColor: rgb(30, 30, 30);
    --firstColor: rgb(255, 20, 150);
    /*¿BACKGROUNDS */
    --bgColor: linear-gradient(rgb(255, 192, 203) 0%, rgb(135, 206, 235) 50%, rgb(72, 61, 139) 100%);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(240, 240, 240, 0.5);
    /*¿GENERALS */
}
.electric_theme {
    /*¿COLORS */
    --textColor: rgb(24, 24, 24);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(237, 28, 36);
    /*¿BACKGROUNDS */
    --bgColor: rgb(197, 194, 3);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(165, 162, 4);
    /*¿GENERALS */
}
.flying_theme {
    /*¿COLORS */
    --textColor: rgb(20, 20, 20);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(99, 156, 202);
    /*¿BACKGROUNDS */
    --bgColor: linear-gradient(45deg, #c4dcfd, #66a6ff);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(200, 200, 200, 0.5);
    /*¿GENERALS */
}
.ice_theme {
    /*¿COLORS */
    --textColor: rgb(20, 20, 20);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: darkslateblue;
    /*¿BACKGROUNDS */
    --bgColor: linear-gradient(#b490ca, #5ee7df);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(225, 225, 225, 0.5);
    /*¿GENERALS */
}
.poison_theme {
    /*¿COLORS */
    --textColor: rgb(225, 225, 225);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(84, 250, 84);
    /*¿BACKGROUNDS */
    --bgColor: linear-gradient(#cc208e 0%, #6713d2 100%);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(220, 220, 220, 0.5);
    /*¿GENERALS */
}
.fighter_theme {
    /*¿COLORS */
    --textColor: rgb(225, 225, 225);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(80, 80, 80);
    /*¿BACKGROUNDS */
    --bgColor: rgb(25, 25, 25);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(15, 15, 15);
    /*¿GENERALS */
}
.rock_theme {
    /*¿COLORS */
    --textColor: rgb(225, 225, 225);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(212, 132, 13);
    /*¿BACKGROUNDS */
    --bgColor: rgb(56, 37, 1);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgba(26, 17, 0, 0.7);
    /*¿GENERALS */
}
.steel_theme {
    /*¿COLORS */
    --textColor: rgb(225, 225, 225);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(60, 60, 60);
    /*¿BACKGROUNDS */
    --bgColor: linear-gradient(45deg, var(--lightGray), var(--darkGray), var(--lightGray), var(--midGray), var(--lightGray), var(--darkGray), var(--midGray));
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(60, 60, 60);
    /*¿GENERALS */
}
.bug_theme {
    /*¿COLORS */
    --textColor: rgb(225, 225, 225);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(237, 139, 28);
    /*¿BACKGROUNDS */
    --bgColor: linear-gradient(rgb(35, 196, 150) 0%, rgb(7, 133, 49) 100%);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(15, 15, 15, 0.7);
    /*¿GENERALS */
}
.ultrarare_theme {
    /*¿COLORS */
    --textColor: rgb(20, 20, 20);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(190, 188, 33);
    /*¿BACKGROUNDS */
    --bgColor: linear-gradient(to bottom, #f1ebfa 0%, #fbfcdb 100%);
    --bgContrast: rgb(210, 210, 210);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(225, 225, 225, 0.5);
    /*¿GENERALS */
}
.fairy_theme {
    /*¿COLORS */
    --textColor: rgb(255, 255, 255);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(173, 233, 252);
    /*¿BACKGROUNDS */
    --bgColor: linear-gradient(to top, #9795f0 0%, #d6c8fb 100%);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(15, 15, 15, 0.7);
    /*¿GENERALS */
}

.personalized_theme {
    /*¿COLORS */
    --textColor: rgb(225, 225, 225);
    --textContrastColor: rgb(25, 25, 25);
    --firstColor: rgb(237, 28, 36);
    /*¿BACKGROUNDS */
    --bgColor: rgb(25, 25, 25);
    --bgContrast: rgb(225, 225, 225);
    --bgContrastT: rgb(225, 225, 225, 0.7);
    --bgAccent: rgb(20, 20, 20);
    /*¿GENERALS */
}
/*! GENERAL PAGE */
BODY {
    position: relative;
    color: var(--textColor);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
:focus {
    outline: 2px solid var(--firstColor);
    outline-offset: 0.1rem;
}
H1,
H2,
H3,
P,
SPAN {
    transition: var(--transitionF);
}
P {
    font-size: var(--fontSizeN);
    text-align: inherit;
}
IMG {
    display: block;
}
A {
    background: none;
    text-decoration: none;
    color: inherit;
}
A:visited,
A:focus,
A:active {
    color: unset;
}
UL {
    margin-top: 1rem;
    margin-left: 2rem;
}
BUTTON {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}
SVG {
    height: 100%;
    width: auto;
    user-select: none;
    pointer-events: none;
}
INPUT,
BUTTON {
    display: inline-block;
}
INPUT {
    border: none;
    text-align: center;
}
INPUT:not([type="color"]) {
    padding: 0.5rem;
    border-radius: 2rem;
}
INPUT[type="text"] {
    display: block;
    width: 100%;
    height: auto;
}

INPUT[type="color"] {
    width: 3rem;
    height: 3rem;
    border: none;
}
INPUT[type="search"] {
    min-width: 2rem;
    width: 100%;
    max-width: 20rem;
}
NAV {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--navHeight);
    z-index: var(--zIndexNav);
    background: var(--bgColorT);
}

.icon_svg {
    user-select: none;
}
.icon_with_text_svg {
    height: 3rem;
    height: 3rem;
}
.content {
    min-width: 280px;
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
}
.divider {
    width: 100%;
    height: 2px;
    background: var(--firstColor);
    margin: 2rem 0 1rem;
    clear: right;
}
.margin_t_s {
    margin-top: 0.5rem;
}
.margin_b {
    margin-bottom: 2rem;
}
.margin_b_s {
    margin-bottom: 0.5rem;
}
.gap_rc_1 {
    gap: 1rem;
}
.flex_row {
    flex-direction: row;
}
.flex_column {
    flex-direction: column;
}
.extras_icon,
.gender_icon {
    display: none;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 4rem;
}
.extras_icon {
    display: flex;
}
.male_icon .icon_svg {
    fill: rgb(131, 245, 229);
}
.female_icon .icon_svg {
    fill: rgb(231, 97, 189);
}

.genderless_icon .icon_svg {
    fill: url("#genderlessIconGradient");
}

.none_icon .icon_svg {
    fill: rgb(218, 236, 51);
}

.baby_icon .icon_svg {
    fill: var(--midGray);
}
.legendary_icon .icon_svg {
    fill: url("#legendaryIconGradient");
}

.mythical_icon .icon_svg {
    fill: url("#mythicalIconGradient");
}
.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: solid 1px var(--firstColor);
    border-radius: 2rem;
    background: transparent;
    padding: 0.5rem 1rem;
    color: var(--textColor);
}
.accent_color {
    color: var(--firstColor);
}
.btn .icon_svg {
    fill: var(--textColor);
}
.btn:hover,
.btn:active {
    background: var(--firstColor);
    color: var(--white);
}
.btn:hover .icon_svg,
.btn:active .icon_svg {
    fill: var(--white);
}
.basic_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    border: none;
    fill: var(--textColor);
    color: var(--textColor);
}
.basic_btn:not(.config_menu_btn) {
    border-radius: 1rem;
}
.basic_btn:hover {
    background: var(--firstColor);
    color: var(--firstColor);
}
.basic_btn:hover .icon_svg {
    fill: var(--white);
}
.extra_btn {
    position: fixed;
}
.ability_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 1rem 2rem;
    background: var(--bgAccent);
    color: var(--textColor);
    font-size: var(--fontSizeN);
    border-radius: 1rem;
}
.ability_btn:hover {
    background: var(--firstColor);
    color: var(--whiteOff);
}
.top_btn {
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    padding: 0.25rem;
}
.delete_DB_btn {
    top: 0;
    left: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background: yellow;
    z-index: var(--zIndexDB);
}
.theme_btn {
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.personalized_theme_btn {
    width: 90%;
    justify-content: center;
}
.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.btn_container_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
}
.btns_row_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    width: 100%;
}
.btns_row_center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.btns_grid_row_container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
}
.btns_column_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.gender_icons_container {
    margin-top: 0.5rem;
}
.data_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0 0;
    height: fit-content;
}
.max_width_container {
    min-width: 200px;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
}
.data_info_container {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
}
.data_info_container .btns_row_container {
    position: inherit;
    margin: 0.5rem 0 1rem;
    width: 100%;
    height: 3rem;
}
.data_info_container .btns_row_container .btns_row_center {
    font-size: var(--fontSizeG);
    align-self: flex-start;

    height: 3rem;
    align-items: center;
}
.basic_sb_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1rem;
}
.basic_sb_container .section_subtitle_data {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data_info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.data_info_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 4rem;
    max-width: 100%;
    height: 9rem;
    padding: 1rem 2rem;
    background: var(--bgAccent);
}
.data_btn {
    width: 95%;
    min-height: 1rem;
    height: auto;
    padding: 1rem 1rem;
    background: var(--bgAccent);
    font-size: var(--fontSizeN);
    color: var(--textColor);
}
.cards_row_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    height: fit-content;
    /* padding: 2rem; */
    max-height: calc(100vh - 16rem);
    overflow-y: auto;
}
.section_subtitle_data {
    color: var(--textColor);
    font-size: var(--fontSizeG);
}
.section_subtitle_name {
    font-size: var(--fontSizeXL);
    font-weight: 600;
    color: var(--firstColor);
}
.fav_card,
.card_btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--bgAccent);
}
.card_btn {
    height: 16rem;
    width: 10rem;
}
.fav_card {
    position: relative;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
}
.theme_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1.5rem;
    background: var(--bgAccent);
}
.item_data {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.color_data {
    width: 2rem;
    height: 2rem;
    border: solid 1px var(--textColor);
}
.theme_card .card_name {
    color: var(--firstColor);
    margin-bottom: 1rem;
}
.card_btn .accent_color,
.fav_card .accent_color {
    font-size: var(--fontSizeS);
    font-weight: 600;
}
.fav_card .btns_row_container {
    width: calc(100% - 1rem);

    margin-bottom: 0.5rem;
}
.card_btn .data_card,
.fav_card .data_card {
    margin-top: 0.5rem;
}
.fav_card_btn {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25rem;
}
.fav_card_btn .icon_svg {
    fill: var(--textColor);
}
.fav_card_btn:hover .icon_svg {
    fill: var(--firstColor);
}
.card_btn .card_img {
    width: 7rem;
    height: 7rem;
}
.fav_card .card_img {
    width: 9rem;
    height: 9rem;
}
.data_card {
    text-align: center;
    color: var(--textColor);
    font-size: var(--fontSizeN);
}
.data_card .accent_color {
    font-size: 1em;
}
.data_card H1 {
    font-size: 1.2em;
}
.data_card H2 {
    color: var(--firstColor);
    font-size: 0.8em;
}
.data_card H3 {
    font-size: 0.8em;
}
.return_btn_container {
    position: fixed;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: var(--bgContrastT);
    padding: 0.5rem 0;
}
.return_btn {
    width: 95%;
    padding: 1rem 2rem;
    background: var(--bgAccent);
    font-size: var(--fontSizeN);
    color: var(--textColor);
}
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bgContrastT);
    z-index: var(--zIndexModal);
    overflow-y: auto;
}
.modal_content {
    position: relative;
    display: none;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--bgColor);
    color: var(--textColor);
    opacity: 0;
    min-width: 150px;
    width: 90%;
    max-width: 80rem;
    max-height: 90vh;
    padding: 4rem 2rem 1rem;
    border-radius: 1rem;
    overflow-y: auto;
}
.modal_action_btn {
    position: absolute;
    top: 0;
    width: 4rem;
    height: 3rem;
}
.lang_menu_container {
    left: 0;
}
.lang_btn,
.lang_modal_btn {
    width: 4rem;
    height: 3rem;
    padding: 0.5rem;
    color: var(--textColor);
}
.lang_modal_btn .icon_svg {
    fill: var(--firstColor);
}
.lang_menu_nav,
.lang_menu_modal {
    display: none;
    position: absolute;
    bottom: 0;
    width: auto;
    z-index: var(--zIndexLangMenuModal);
    opacity: 0;
    translate: 0 calc(100% + 0.5rem);
    transition: all ease 500ms;
    background: var(--bgColor);
    border: solid 1px var(--firstColor);
}
.lang_menu_nav {
    right: 0;
}
.lang_menu_modal {
    right: -0.5rem;
}
.close_btn_container {
    right: 0;
}
.close_modal_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.25rem;
}
.close_modal_btn .icon_svg {
    fill: var(--firstColor);
}
.theme_btn {
    font-size: var(--fontSizeN);
    font-weight: 100;
}
#lang_menu_nav,
.action_btn .icon_svg,
.theme_btn .icon_svg {
    fill: var(--firstColor);
}
.close_btn:hover,
.close_modal_btn:hover,
.lang_btn:hover,
.lang_modal_btn:hover {
    background: var(--firstColor);
    color: var(--textContrastColor);
}
.close_btn:hover .icon_svg,
.close_modal_btn:hover .icon_svg,
.lang_btn:hover .icon_svg,
.lang_modal_btn:hover .icon_svg,
.lang_menu_modal_btn:hover .icon_svg,
.action_btn:hover .icon_svg,
.theme_btn:hover .icon_svg {
    fill: var(--textContrastColor);
}
.action_btn:hover,
.theme_btn:hover {
    color: var(--textContrastColor);
}
.title_modal,
.subtitle_modal {
    text-align: center;
    margin-bottom: 2rem;
}
.title_modal {
    font-size: var(--fontSizeL);
}
.subtitle_modal {
    font-size: var(--fontSizeN);
}
.text_modal {
    margin-top: 1rem;
    font-size: var(--fontSizeN);
}
.important_text_modal {
    font-size: var(--fontSizeG);
    font-weight: 600;
    text-align: center;
}
/* ^PAGE */
NAV .content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    height: var(--navHeight);
    color: var(--white);
    text-shadow: 2px 2px 0.5rem var(--midLight);
}
NAV .content IMG {
    height: 3rem;
    width: auto;
}
NAV .search_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--textColor);
}
NAV H1 {
    font-size: var(--fontSizeG);
}
MAIN {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: var(--bgColor);
    padding-bottom: 4rem;
}
/*! PARTS */
.poke_icon {
    width: 2rem;
    height: 2rem;
}
.poke_icon .cls-1 {
    fill: rgb(244, 243, 243);
}
.poke_icon .cls-2 {
    fill: rgb(237, 28, 36);
}
.poke_icon .cls-3 {
    fill: rgb(20, 20, 20);
}
#search_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    height: 3rem;
    width: 3rem;
}
.img_container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: var(--zIndexImg);
    box-shadow: 0 4rem 5rem var(--bgAccent);
}
.img_container IMG {
    position: absolute;
    bottom: -8rem;
    left: 50%;
    min-width: 20rem;
    width: 28rem;
    max-width: 80%;
    translate: -50% 0;
    object-fit: contain;
}
.icon_item_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.poke_bg {
    position: relative;
    width: 100%;
    height: 25rem;
    transition: var(--transitionM);
    background: linear-gradient(45deg, tomato, orange, red);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.save_btn {
    position: absolute;
    right: 2rem;
    z-index: 10;
    bottom: 2rem;
}
.save_btn .icon_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    translate: 50% 50%;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    pointer-events: none;
}
.save_btn #icon_save .cls-1 {
    fill: greenyellow;
}
.save_btn #icon_save_error .cls-1 {
    fill: crimson;
}
.display_btn {
    background: var(--white);
    border: none;
}
.display_btn .icon_svg {
    fill: var(--firstColor);
}
.option_list_btns_container {
    width: fit-content;
    max-height: 15rem;
    overflow-y: auto;
    z-index: var(--zIndexOptionList);
}
.option_list_varieties_btns_container {
    position: absolute;
    top: 6rem;
    left: 50%;
    translate: -50% 0;
    z-index: var(--zIndexOptionList);
}
.option_list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: var(--fontSizeN);
    color: var(--blackOff);
    height: 3rem;
    width: fit-content;
    margin: 0 auto;
    overflow: hidden;
    user-select: none;
    transition: var(--transitionF);
}
.option_list_btn_search {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem;
    color: var(--blackOff);
    background: var(--whiteOffT);
    height: 3rem;
    width: 100%;
    cursor: pointer;
}
.option_list_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem;
    color: var(--blackOff);
    background: var(--white);
    min-height: 3rem;
    width: 100%;
    /* z-index: 10; */
    cursor: pointer;
}
.option_list_btn_search .icon_container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.5rem;
    width: 2.5rem;
}
.option_list_btn_search .icon_svg {
    transition: transform ease 500ms;
    fill: var(--firstColor);
}
.option_list_btn:hover {
    background: var(--firstColor);
    color: var(--whiteOff);
}
.option_list_btn_search:hover .icon_svg {
    fill: var(--textContrastColor);
}
.btns_row_center .option_list_btns_container {
    width: fit-content;
    position: initial;
}
.poke_data_info {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bgContrast);
    color: var(--textContrastColor);
    margin-top: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
}
#config_menu {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    /* z-index: 5; */
    opacity: 0;
    translate: 0 calc(100% + 0.5rem);
    transition: all ease 500ms;
    background: var(--bgColor);
    border: solid 1px var(--firstColor);
}
.config_btn {
    padding: 0.5rem 1rem;
    background: var(--white);
    fill: var(--black);
}
.config_btn:not(.config_menu_btn_action, .sort_fav_btn) {
    border-radius: 1rem;
}
.config_btn:hover {
    background: var(--midGray);
}
.input_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.input_container LABEL {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.position_btns_row_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    min-width: 22.5rem;
    width: 100%;
    max-width: 40rem;
    margin: 4rem auto 0;
}
.position_btns_row_container h1 {
    text-align: center;
    font-size: var(--fontSizeL);
}
.position_btn {
    width: 6rem;
    height: 4rem;
}
.position_btn .icon_svg {
    width: 100%;
    height: 100%;
    fill: var(--firstColor);
}
/* 
#config_menu_btn {
    fill: var(--textColor);
    border: solid 2px var(--textColor);
} */

#option_list_btns_container_varients {
    max-height: 15rem;
    overflow-y: auto;
}
#flavor_text_container {
    height: 4rem;
}
#name_version_subtitle {
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#option_list_descriptions {
    position: inherit;
    margin: 0;
}
#option_list_descriptions_btns_container {
    position: inherit;
}
#poke_data_info_description_abilities_container {
    margin-top: 1rem;
}
#option_list_measurements_container {
    height: 5rem;
    width: 100%;
}
#option_list_btns_container_measurements {
    width: 100%;
}
#option_list_measurements {
    margin-bottom: 1rem;
}
#pokedata_row_center_container {
    gap: 1rem;
}
#gender_data_info_card .btns_row_center,
#extras_data_info_card .btns_row_center {
    gap: 1rem;
}
#ability_modal {
    min-height: 80vh;
}
#ability_options_container {
    height: 3rem;
    padding-top: 0;
}
#ability_options_container .option_list {
    margin: 0 0;
}
#ability_options_container .option_list_btns_container {
    min-height: 6rem;
    max-height: 30vh;
}
#themes_btns_container {
    max-height: 35vh;
    height: fit-content;
    overflow-y: auto;
}
#personalized_themes_btns_container {
    max-height: 30vh;
    height: fit-content;
    overflow-y: auto;
}
#theme_btns_container {
    min-height: 200px;
}
#btns_evo_chain_container {
    margin-top: 0.5rem;
}
#fav_modal {
    position: relative;
}
#fav_modal .modal {
    padding: 2rem;
}
#fav_modal .btns_row_container,
#fav_modal .btns_row_center {
    height: 3rem;
}
#fav_modal .config_btn {
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
}
#fav_modal .option_list_btns_container {
    overflow-y: auto;
}
#alert_modal_fav {
    width: fit-content;
    padding: 1rem 2rem;
}
#fav_modal,
#edit_personalized_themes_modal {
    overflow: hidden;
}
@media screen and (min-width: 440px) {
    HTML {
        --fontSize: 11px;
    }
    .poke_bg {
        height: 32rem;
    }
    .fav_card {
        width: 15rem;
    }
}
@media screen and (min-width: 520px) {
    .btns_grid_row_container {
        grid-template-columns: repeat(auto-fill, 18rem);
        justify-content: center;
        row-gap: 1rem;
        padding: 0.25rem;
    }
}
@media screen and (min-width: 550px) {
    .theme_card {
        width: 20rem;
    }
}
@media screen and (min-width: 900px) {
    HTML {
        --fontSize: 12px;
    }
    .fav_card {
        width: 18rem;
    }
    #themes_btns_container {
        max-height: fit-content;
    }
}

/*! QUITA CONFIGURACION PARA EDICION DE CSS - START  */
/* 
#modal {
    display: block;
    opacity: 1;
}
*/
/*! QUITA CONFIGURACION PARA EDICION DE CSS - OVER  */
